<html>
<head>
<!--javascript-->
<script src="/assets/js/jquery-1.12.3.min.js"></script>
<script scr="/assets/js/google/trace.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<title>PUAN YANG Website</title>
<!--javascript-->
<script src="/assets/js/index.js"></script>
<!--css-->
<link rel="stylesheet" href="/assets/css/index.css"/>
</head>
<body>
<header>
PUAN YANG Website 
</header>
<div id="container">
Welcome to my webpage
<button id="recordTime">record Time</button>
<div id="timeDisplay"></div>
</div>
<footer>
</footer>
</body>
</html>
